.DS_Store
.env
.env.*
!.env.example

node_modules/
dist/
coverage/

.ndr-data/
.ndr-playwright-data/
test-results/
playwright-report/
*.log
!samples/*.log

.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
